/* normalize */
@import url("https://unpkg.com/tailwindcss@3.1.8/src/css/preflight.css");

/*font family*/
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700;900&display=swap');

* {
    --color-bloo: rgba(109, 4, 48, 1);
    --color-pink: rgba(235, 82, 150, 1);
    --color-pink-opacity10: rgba(235, 82, 150, .1);
    --color-bloo-opacity05: rgba(109, 4, 48, .05);
    --color-white: rgba(255, 255, 255, 1);
    --color-white-opacity80: rgba(255, 255, 255, 0.8);
    --color-darkblue: rgba(16, 42, 66, 1);
    --color-darkblue-opacity02: rgba(16, 42, 66, .02);
    --color-darkblue-opacity50: rgba(16, 42, 66, .5);
    --color-darkblue-opacity80: rgba(16, 42, 66, .8);
    --color-black: rgba(0, 0, 0, 1);
    --color-darkblue-1: rgba(10, 4, 60, 1);

    --sans-serif: "Source Sans Pro", sans-serif;

    --min-w-m: 304px;
    --max-w-m: 320px;
    --max-w-d: 420px;

    /* outline: 1px dashed rgba(28, 63, 12, .05); */
    background: rgba(28, 63, 12, .05);
}

html {
    font-family: var(--sans-serif);
    line-height: 24px;
}

.none {
    display: none;
}

/* css:header */

header {
    display: flex;
    justify-content: space-between;
    padding: 23px 0;

    margin: auto;
    max-width: var(--max-w-m);
}

.logo {
    font-weight: 900;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: -0.2px;
    color: var(--color-darkblue);
}

/* css:aside */

aside {
    display: flex;
    flex-direction: column;
    gap: 92px;
    margin-bottom: 66px;
    margin-top: calc((29 - 23) * 1px);
}

/* css:hero */

.hero {
    background: var(--color-bloo-opacity05);
    margin: auto;
    max-width: var(--max-w-m);
    border-radius: 20px;
    overflow: hidden;
    height: fit-content;
    padding-bottom: 55px;
}

.hero :is(.hero__title, blockquote, a) {
    --margin-x: 20px;
    /* margin-left: var(--margin-x);
    margin-right: var(--margin-x); */
}

.hero a {
    text-transform: uppercase;
    color: var(--color-darkblue);
    font-weight: 600;
    font-size: 13px;
    line-height: 22px;
    letter-spacing: 4px;
}

.hero a:hover {
    border-bottom: 2px solid red;
}

.hero__title {
    font-weight: 600;
    font-size: 13px;
    line-height: 22px;
    color: var(--color-pink);
    text-transform: uppercase;
    margin-top: 55px;
    letter-spacing: 6px;
    text-align: center;
}

.hero__title~blockquote {
    color: var(--color-darkblue);
    margin-top: 30px;
    margin-bottom: 42px;
    /* background: magenta; */
}

.hero__title~blockquote p:first-child {
    text-transform: lowercase;
    font-size: 30px;
    line-height: 37px;
    text-transform: 600;
    /* font-size: 55px; */
    /* line-height: 66px; */
    margin-bottom: 10px;
}

/* css:feature */

.feature {
    display: grid;
    place-items: center;
    text-align: center;

    margin: auto;
    max-width: var(--max-w-m);
}

.feature__title,
.feature p {
    padding: 5px;
}

.feature__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.3px;
}

.feature p {
    font-size: 15px;
    line-height: 28px;
    color: var(--color-darkblue-opacity80);
}

.feature__icon {
    background: var(--color-pink-opacity10);
    stroke: var(--color-bloo);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    padding: 25px;
    display: grid;
    place-items: center;
    margin-bottom: 13px;
}

.feature__group {
    display: flex;
    flex-direction: column;
    gap: 105px;
}

@media screen and (min-width:1366px) {
    .feature__group {
        flex-direction: column;
    }

    .feature {
        grid-template-rows: 1fr 1fr;
        grid-auto-flow: column;
        justify-items: start;
        gap: 0 15px;

        max-width: var(--max-w-d);

        text-align: inherit;
    }

    .feature__icon {
        grid-row: 1/-1;
    }
}

/* css:showcase */

#showcase {}

/* css:about-us */

#how\%20we\%20do\%20it {
    background: var(--color-bloo-opacity05);
    padding-top: 101px;
    padding-bottom: 108px;
}

.about-us__group {
    list-style: decimal-leading-zero;
    list-style-position: inside;
    max-width: var(--max-w-m);
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.about-us__group li::marker {
    color: var(--color-bloo);
    font-size: 25px;
    line-height: 40px;
    font-weight: 600;
    display: block;
}

.about-us__title {
    color: var(--color-pink);
    font-weight: 600;
    font-size: 33px;
    line-height: 38px;
    margin: auto;

    margin-bottom: 84px;
    max-width: calc((360 - 200) * 1px);

    text-align: center;
}

.about-us__item {
    padding-bottom: 60px;
    border-bottom: 1px solid var(--color-pink);
    color: var(--color-darkblue);
}

.about-us__item>:is(h2, h3) {
    font-weight: 600;
    font-size: 33px;
    line-height: 38px;
    letter-spacing: -1px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.about-us__item>p {
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 17px;
    line-height: 28px;
}

.about-us__item>a {
    text-transform: uppercase;
}

.period--pink::after {
    content: ".";
    color: var(--color-pink);
}

.period--blue::after {
    content: ".";
    color: var(--color-darkblue);
}

/* css:projects */

#our\%20projects {
    background-color: magenta;
}

/* css:testimonals */

#testimonals {
    background: var(--color-bloo);
    color: var(--color-white);

    padding-top: 50px;
}

#testimonals :is(blockquote, p) {
    margin: auto;
    max-width: var(--max-w-m);
}

#testimonals blockquote {
    font-weight: 600;
    font-size: 30px;
    line-height: 34px;
}

#testimonals p:first-of-type {
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    margin-top: 32px;
}

#testimonals p:last-of-type {
    font-size: 17px;
    line-height: 30px;
    color: var(--color-white-opacity80);
    margin-bottom: 50px;
}

/* css:subcribe */

#subscribe {
    /* margin: 100px 0; */
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: auto;
    max-width: var(--max-w-m);

    padding: 100px 0;
}

#subscribe :is(h1, h2, h3) {
    font-weight: 600;
    font-size: 42px;
    line-height: 50px;
    text-align: center;
    letter-spacing: -1px;
    color: var(--color-pink);

    margin-bottom: 31px;
}

#subscribe p {
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;

    text-align: center;

    padding: 0 47px;

    color: var(--color-darkblue-opacity80);
}

#subscribe form {
    display: flex;
    flex-direction: column;
    gap: 50px;
    border-radius: 15px;
    background: var(--color-white);

    padding: 50px 12px;
}

#subscribe label {
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
    font-weight: 600;
    font-size: 17px;
    line-height: 30px;
    color: var(--color-darkblue);

}

#subscribe :is(input, textarea) {
    padding: 10px 0;
    border-bottom: 1px solid var(--color-darkblue-1);
}

#subscribe :is(input, textarea)::placeholder {
    font-size: 15px;
    line-height: 28px;
    color: var(--color-darkblue-opacity50);
}

#subscribe [type="submit"] {
    border: 2px solid var(--color-pink);
    border-radius: 100px;

    font-weight: 600;
    font-size: 21px;
    line-height: 30px;

    text-align: center;
    color: var(--color-pink);
    padding: 12px 0;
}

.disclaimer {
    display: flex;
    justify-content: center;
    gap: 28px;
}

.padlock {
    width: 15px;
    /* height: 15px; */
    stroke: grey;
}

/* css:footer */
footer {
    display: grid;
    text-align: center;
    padding-top: 72px;
    padding-bottom: 51px;
    gap: 20px;
}

footer nav {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.footer__container {
    background: var(--color-bloo-opacity05);
    border-radius: 30px;
    margin: auto;
    max-width: var(--max-w-m);
    padding-top: 59px;
    padding-bottom: 52px;
}

.footer__container p {
    margin-top: 30px;
    margin-bottom: 60px;
    padding: 0 38px;
}

#contact::before {
    content: attr(id);
}

:is([aria-label="product"], [aria-label="our company"])::before {
    content: attr(aria-label);
}

:is(#contact, [aria-label="product"], [aria-label="our company"]) {
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
    color: var(--color-darkblue-opacity80);
    display: flex;
    flex-direction: column;
    font-style: normal;
    gap: 15px;
}

:is(#contact, [aria-label="product"], [aria-label="our company"])::before {
    text-transform: uppercase;
    color: var(--color-pink);
    font-weight: 700;
    font-size: 13px;
    line-height: 22px;
    letter-spacing: 4px;
    display: block;
    margin-bottom: 15px;
}

.copyright {
    font-size: 15px;
    line-height: 28px;
    color: var(--color-darkblue-opacity80);
}