/* css:base */

/* normalize */
@import url("https://unpkg.com/tailwindcss@3.1.8/src/css/preflight.css");


* {
    --color-bloo: rgba(109, 4, 48, 1);
    --color-pink: rgba(235, 82, 150, 1);
    --color-pink-opacity10: rgba(235, 82, 150, .1);
    --color-bloo-opacity05: rgba(109, 4, 48, .05);
    --color-white: rgba(255, 255, 255, 1);
    --color-white-opacity80: rgba(255, 255, 255, 0.8);
    --color-darkblue: rgba(16, 42, 66, 1);
    --color-darkblue-opacity02: rgba(16, 42, 66, .02);
    --color-darkblue-opacity50: rgba(16, 42, 66, .5);
    --color-darkblue-opacity80: rgba(16, 42, 66, .8);
    --color-black: rgba(0, 0, 0, 1);
    --color-darkblue-1: rgba(10, 4, 60, 1);



    --w-clamp-1: clamp(270px, 85vw, 320px);

    /* outline: 1px dashed rgba(28, 63, 12, .05); */
    background: rgba(28, 63, 12, .05);
}



.none {
    display: none;
}

/* css:icons */

.logo {
    color: var(--color-darkblue);
}

.padlock {
    width: 15px;
    /* height: 15px; */
    stroke: grey;
}

/* css:header */

header {
    display: flex;
    justify-content: space-between;
    padding: 23px 0;

    margin: auto;
    width: var(--w-clamp-1);
}

/* css:aside */

aside {
    display: flex;
    flex-direction: column;
    gap: 92px;
    margin-bottom: 66px;
    margin-top: calc((29 - 23) * 1px);
}

/* css:hero */

.hero {
    background: var(--color-bloo-opacity05);
    margin: auto;
    width: var(--w-clamp-1);
    border-radius: 20px;
    overflow: hidden;
    height: fit-content;
    padding-bottom: 55px;
}

.hero :is(.hero__title, blockquote, a) {
    --margin-x: 20px;
    /* margin-left: var(--margin-x);
    margin-right: var(--margin-x); */
}

.hero a {
    color: var(--color-darkblue);
}

.hero__title {
    color: var(--color-pink);
    margin-top: 55px;
}

.hero__title~blockquote {
    color: var(--color-darkblue);
    margin-top: 30px;
    margin-bottom: 42px;
    /* background: magenta; */
}

.hero__title~blockquote p:first-child {
    margin-bottom: 10px;
}

/* css:feature */

.feature {
    display: grid;
    place-items: center;

    margin: auto;
    width: var(--w-clamp-1);
}

.feature__title,
.feature p {
    padding: 5px;
}

.feature p {
    color: var(--color-darkblue-opacity80);
}

.feature__icon {
    background: var(--color-pink-opacity10);
    stroke: var(--color-bloo);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    padding: 25px;
    display: grid;
    place-items: center;
    margin-bottom: 13px;
}

.feature__group {
    display: flex;
    flex-direction: column;
    gap: 105px;
}

/* css:showcase */

/* css:about-us */

#how\%20we\%20do\%20it {
    background: var(--color-bloo-opacity05);
    padding-top: 101px;
    padding-bottom: 108px;
}

.about-us__group {
    list-style: decimal-leading-zero;
    list-style-position: inside;
    width: var(--w-clamp-1);
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.about-us__group li::marker {
    color: var(--color-bloo);
    display: block;
}

.about-us__group li {
    border-bottom: 1px solid var(--color-pink);
}

.about-us__group>li:last-of-type {
    border-bottom: none;
}

.about-us__title {
    color: var(--color-pink);
    margin: auto;
    margin-bottom: 84px;
    width: calc((360 - 200) * 1px);
}

.about-us__item {
    padding-bottom: 60px;
    color: var(--color-darkblue);
}

.about-us__item>:is(h2, h3) {
    margin-top: 20px;
    margin-bottom: 20px;
}

.about-us__item>p {
    margin-bottom: 40px;
}

.period--pink::after {
    content: ".";
    color: var(--color-pink);
}

.period--blue::after {
    content: ".";
    color: var(--color-darkblue);
}

/* css:projects */

#our\%20projects {
    background-color: magenta;
}

/* css:testimonals */

#testimonals {
    background: var(--color-bloo);
    color: var(--color-white);

    padding-top: 50px;
}

#testimonals :is(blockquote, p) {
    margin: auto;
    width: var(--w-clamp-1);
}

#testimonals p:first-of-type {
    margin-top: 32px;
}

#testimonals p:last-of-type {
    color: var(--color-white-opacity80);
    margin-bottom: 50px;
}

/* css:subcribe */

#subscribe {
    /* margin: 100px 0; */
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 100px 0;
    background: var(--color-darkblue-opacity02);
}

#subscribe>* {
    margin: auto;
    width: var(--w-clamp-1);
}

#subscribe :is(h1, h2, h3) {
    color: var(--color-pink);

    margin-bottom: 31px;
}

#subscribe p {
    padding: 0 47px;

    color: var(--color-darkblue-opacity80);
}

#subscribe form {
    display: flex;
    flex-direction: column;
    gap: 50px;
    border-radius: 15px;
    background: var(--color-white);

    padding: 50px 12px;
}

#subscribe label {
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
    color: var(--color-darkblue);
}

#subscribe :is(input, textarea) {
    padding: 10px 0;
    border-bottom: 1px solid var(--color-darkblue-1);
}

#subscribe :is(input, textarea)::placeholder {
    color: var(--color-darkblue-opacity50);
}

#subscribe :is(input, textarea):focus-visible {
    border-bottom: 1px solid var(--color-pink);
    outline: none;
}

#subscribe [type="submit"] {
    border: 2px solid var(--color-pink);
    border-radius: 100px;

    color: var(--color-pink);
    padding: 12px 0;
}

.disclaimer {
    display: flex;
    justify-content: center;
    gap: 28px;
}

/* css:footer */

footer {
    /* display: grid; */
    padding-top: 72px;
    padding-bottom: 51px;
    /* gap: 20px; */
}

footer nav {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.footer__container {
    background: var(--color-bloo-opacity05);
    border-radius: 30px;

    margin: auto;
    width: var(--w-clamp-1);

    padding-top: 59px;
    padding-bottom: 52px;
    margin-bottom: 20px;
}

.footer__container p {
    margin-top: 30px;
    margin-bottom: 60px;
    padding: 0 38px;
}

#contact::before {
    content: attr(id);
}

:is([aria-label="product"], [aria-label="our company"])::before {
    content: attr(aria-label);
}

:is(#contact, [aria-label="product"], [aria-label="our company"]) {
    color: var(--color-darkblue-opacity80);
    display: flex;
    flex-direction: column;
    gap: 15px;
}

:is(#contact, [aria-label="product"], [aria-label="our company"])::before {
    color: var(--color-pink);
    display: block;
    margin-bottom: 15px;
}

.copyright {
    color: var(--color-darkblue-opacity80);
}